@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Red+Hat+Display:wght@500;700;900&family=Roboto&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    width: 600px;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 2px #00000066;
    
}

.left {
    background-color: #5d3efb;
    padding: 20px;
    width: 50%;
    border-radius: 18px;
    color: #ffffff;
}

.right {
    width: 50%;
    padding: 20px;

}

.left h4 {
    text-align: center;
    color: #c3bafd;
    
}

.sm-text {
    color: #c3bafd;
}

.result-left {
    padding: 50px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    box-shadow: 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.bg-text {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.text h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.text p {
    text-align: center;
    font-size: 12px;
    color: #c3bafd;
}

.rc {
    display: flex;
}

.score {
    display: flex;
    justify-content: space-between;
    background-color: #ff57571a;
    color: #ff5757;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    
}

#text-gray {
    color: #b6b1ba;
}

.rc img {
    margin-right: 5px;
}

#text-black {
    color: black;
    font-weight: bold;

}

.s-memory {
    color: #ffb01f;
    background-color: #ffb01f1a;   
}

.s-verbal {
    color: #00bd91;
    background-color: #00bd911a;
}

.s-visual {
    color: #1125d4;
    background-color: #1125d41a;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    color: #fff;
    background-color: #303b59;
    width: 100%;
    border-radius: 18px;
}

button:hover {
    background-color: #1125d4;
}



@media (max-width:760px) {
    .left {
        width: 100%;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .main {
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        overflow: hidden;
        padding: 0;
    }

    .right {
        width: 100%;
        padding: 0;
    }
    
}








